---
export const prerender = false;
import IconChevronDown from "~/assets/images/icons/chevron-down-select.svg";
import IconClose from "~/assets/images/icons/close.svg";
import IconReset from "~/assets/images/icons/reset.svg";
import { bodyTypes, conditions, fuelTypes, transmission } from "~/content.config";
import { getMakeModelSet, getPrice } from "~/utils/helpers";

interface Props {
	data: {
		makes: string[];
		colors: string[];
		count: number;
		priceSteps: number[];
	};
}

const allMakesModels = await getMakeModelSet();
const { data } = Astro.props;
---

<div
	id="sidebar-filter"
	class="fixed lg:relative max-lg:overflow-y-auto shrink-0 inset-y-0 z-50 lg:flex w-full lg:w-80 lg:flex-col max-lg:bg-white transition duration-300 max-lg:opacity-0 max-lg:pointer-events-none"
>
	<div class="flex lg:sticky lg:top-8 flex-col gap-y-5 bg-white lg:shadow-md px-6 py-4 relative">
		<button id="button-modal-filter-close" class="lg:hidden" type="button" aria-label="Close filter modal">
			<div class="flex justify-end">
				<IconClose class="size-8 bg-gray-800 rounded-full p-1 text-white" />
			</div>
		</button>

		<form id="form-filter" method="get" class="grid grid-cols-1 gap-y-6">
			<div>
				<div class="flex items-center gap-x-2">
					<label for="make">Marca</label>
					<button id="clear-input-make" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="make" id="make" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
						{allMakesModels.map((car) => <option value={car.make}>{car.make}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="model">Modelo</label>
					<button id="clear-input-model" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="model" id="model" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="price">Precio</label>
					<button id="clear-input-price" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="price" id="price" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
						{
							data.priceSteps.map((step, index) => {
								const nextStep = data.priceSteps[index + 1];
								if (index === 0) {
									return <option value={`0-${step}`}>Menor que {getPrice(step)}</option>;
								} else if (nextStep) {
									return (
										<option value={`${step}-${nextStep}`}>
											{getPrice(step)} - {getPrice(nextStep)}
										</option>
									);
								} else {
									return <option value={`${step}-`}>Mayor que {getPrice(step)}</option>;
								}
							})
						}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="color">Color</label>
					<button id="clear-input-color" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="color" id="color" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
						{data.colors.map((color) => <option value={color}>{color}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="bodyType">Tipo de carrocería</label>
					<button id="clear-input-bodyType" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="bodyType" id="bodyType" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
						{bodyTypes.map((bodyType) => <option value={bodyType}>{bodyType}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="fuelType">Tipo de combustible</label>
					<button id="clear-input-fuelType" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="fuelType" id="fuelType" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
						{fuelTypes.map((fuelType) => <option value={fuelType}>{fuelType}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="transmission">Transmisión</label>
					<button id="clear-input-transmission" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="transmission" id="transmission" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
						{transmission.map((transmission) => <option value={transmission}>{transmission}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="condition">Condición</label>
					<button id="clear-input-condition" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="condition" id="condition" class="appearance-none col-start-1 row-start-1">
						<option value="all">Todos</option>
						{conditions.map((condition) => <option value={condition}>{condition}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div class="sticky bottom-0">
				<button type="submit" class="button button-yellow w-full">
					Buscar <span id="filter-result-found" class="ml-1">({data.count})</span></button
				>
			</div>
		</form>
	</div>
	<script type="application/json" id="filter-make-model-data">{JSON.stringify(allMakesModels)}</script>
</div>
